<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jpappasdev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jpappasdev.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StyleSheet.scss" asp-append-version="true" />
</head>
<body class="main" data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0">
    <nav>
        <a id="logo" href="#top"></a>
        <ul class="nav-links">
            <li>
                <a id="linkHome" href="#top">Home</a>
            </li>
            <li>
                <a id="linkAbout" href="#aboutMe">About</a>
            </li>
            <li>
                <a id="linkResume" href="#resume">Resume</a>
            </li>
            <li>
                <a id="linkLinkedIn" href="https://www.linkedin.com/in/joshua-pappas-2ab794194/">LinkedIn</a>
            </li>
        </ul>
    </nav>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div id="footer-links">
            <a href="mailto:josh.pappas924@gmail.com" onmouseover="this.href=this.href.replace(/[zyx]/g,'');" target="_blank">
                <img src="/assets/email.png" />
            </a>
            <a href="https://www.linkedin.com/in/joshua-pappas-2ab794194/" target="_blank">
                <img src="assets/linkedin.png">
            </a>
        </div>
        <div>
            &copy; 2023 - jpappasdev - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>