@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="top">
    <div id="nameDiv">
        <h2 id="helloh2" class="aos-init" data-aos-anchor="#top" data-aos-anchor-placement="top-center" data-aos-delay="150" data-aos="fade-up">Hello! My name is</h2>
        <h1 id="myName" class="aos-init" data-aos-anchor="#top" data-aos-anchor-placement="top-center" data-aos-delay="300" data-aos="fade-up">Josh Pappas.</h1>
        <h2 id="seh2" class="aos-init" data-aos-anchor="#top" data-aos-anchor-placement="top-center" data-aos-delay="450" data-aos="fade-up">I'm a software developer.</h2>
    </div>
</div>
<div id="aboutMe">
    <div id="aboutMeTitle" class="aos-init" data-aos="fade-up">
        <h1>About Me</h1>
    </div>
    <div id="aboutMeMain">
        <div id="selfpic" class="aos-init" data-aos="fade-up"></div>
        <p id="pIntro" class="aos-init" data-aos="fade-up" style="color: #fffffe">
            Hi! I'm Josh Pappas, a full-stack web developer and software engineer based in Oregon, OH. After pursuing a music career, I decided to return to school and finish my Bachelor of Science degree. Recently graduating in 2020 I jumpstarted my career with an internship at a local insurance firm. I have always enjoyed learning how things work and working with my hands. In my free time I enjoy playing music and board games with friends. My best decision in life was combining my creativity and love for technology into my developer career.
        </p>
    </div>
</div>
<div id="skillsDiv">
    <div id="techTitle" data-aos="fade-up" class="aos-init">
        <h3>Technologies I've Worked With</h3>
    </div>
    <p class="aos-init" data-aos="fade-up" style="color: #fffffe" >I have years of expirience both educational and professional building web applications for clients.  Below is a quick overview of my main technical skill setes and tools I use.</p>



    <div class="skills aos-init" data-aos="fade-up">
        <ul class="lines">
            <li class="line l--0">
                <span class="line__label title">
                    Skill level:
                </span>
            </li>
            <li class="line l--25">
                <span class="line__label">
                    The basics
                </span>
            </li>
            <li class="line l--50">
                <span class="line__label">
                    Advanced
                </span>
            </li>
            <li class="line l--75">
                <span class="line__label">
                    Seasoned
                </span>
            </li>
            <li class="line l--100">
                <span class="line__label">
                    Expert
                </span>
            </li>
        </ul>

        <div class="charts">
            <div class="chart chart--dev">
                <span class="chart__title">Development</span>
                <ul class="chart--horiz">
                    <li class="chart__bar" style="width: 70%;">
                        <span class="chart__label">
                            C#
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 85%;">
                        <span class="chart__label">
                            SQL
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 80%;">
                        <span class="chart__label">
                            HTML5
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 80%;">
                        <span class="chart__label">
                            CSS3 & SCSS & CSS in JS
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 75%;">
                        <span class="chart__label">
                            JavaScript
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 70%;">
                        <span class="chart__label">
                            .NET
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 50%;">
                        <span class="chart__label">
                            Java
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 35%;">
                        <span class="chart__label">
                            Pyhton
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 45%;">
                        <span class="chart__label">
                            ReactJS
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 25%;">
                        <span class="chart__label">
                            AngularJS
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 50%;">
                        <span class="chart__label">
                            jQuery
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 25%;">
                        <span class="chart__label">
                            Blazor
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 25%;">
                        <span class="chart__label">
                            Razor
                        </span>
                    </li>
                </ul>
            </div>

            <div class="chart chart--prod">
                <span class="chart__title">Productivity</span>
                <ul class="chart--horiz">
                    <li class="chart__bar" style="width: 95%;">
                        <span class="chart__label">
                            Agile Methodology
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 75%;">
                        <span class="chart__label">
                            Git + Github, Bitbucket & Sourcetree
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 95%;">
                        <span class="chart__label">
                            Microsoft Office
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 80%;">
                        <span class="chart__label">
                            Analytical Research
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 70%;">
                        <span class="chart__label">
                            Visual Studio
                        </span>
                    </li>
                    <li class="chart__bar" style="width: 65%;">
                        <span class="chart__label">
                            DevOps
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
<div id="resume">
    <div id="resumeTitle" class="aos-init" data-aos="fade-up">
        <h1>Resume</h1>
    </div>
    <div id="resumeMain" class="aos-init" data-aos="fade-up">
        <a id="resumeView" href="/assets/JPappasResume.pdf" target="_blank">
            View Resume
            <img src="~/assets/viewfile.png"/>
        </a>
        <a id="resumeDownload" href="/assets/JPappasResume.pdf" download="">
            Download Resume
            <img src="~/assets/downloadfile.png" />
        </a>
    </div>
    <div id="contact">
        <div id="contactTitle" class="aos-init" data-aos="fade-up">
            <h1>Contact</h1>
            <form class="aos-init" data-aos="fade-up" method="post" name="contact">
                <input type="hidden" name="form-name" value="contact" />
                <div class="hidden">
                    <label>
                        Fill this if you are not human:
                        <input name="bot-field" />
                    </label>
                </div>
                <div class="group">
                    <input type="text" name="name" required="required"><span class="highlight"></span><span class="bar"></span>
                    <label>Name</label>
                </div>
                <div class="group">
                    <input type="text" name="email" required="required"><span class="highlight"></span><span class="bar"></span>
                       <label>Email</label>
                </div>
                <div class="group">
                    <textarea type="textarea" name="message" rows="5" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
                    <label>Message</label>
                </div>
                <div class="btn-box">
                    <button class="btn btn-submit" type="submit">Send Message<img src="assets/sendimg.png"></button>
                </div>
            </form>
        </div>
    </div>
</div>